body {
    margin: 0px;
}

img {
    max-width: 100%;
    object-fit: content;
}

.home-page-title {
    text-align: center;
}

.home-top {
    display: flex;
}

.home-top .side {
    width: 50%;
}

.bg-success {
    background-color: green;
}

.bg-danger {
    background-color: red;
}